<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
 
   <script src="https://cdn.tailwindcss.com"></script>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
   <link href="https://api.fontshare.com/v2/css?f[]=satoshi@400,700&display=swap" rel="stylesheet">
   <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            inter: ['Inter', 'sans-serif'],
            satoshi: ['Satoshi', 'sans-serif'],
          },
        },
      },
    }
  </script>

  <title>Document</title>
</head>
<body>

<div id="app" class="w-full min-h-dvh grid grid-cols-1 p-3 bg-gradient-to-br from-[#BCE67F] to-[#66BCF1] sm:p-10 xl:grid-cols-2 xl:p-0">
  <div class="flex flex-col gap-20 p-5 font-inter text-[#3B3B3B] font-normal rounded-3xl bg-[#FFFFFF] xl:rounded-none xl:p-20">
    <div>
      <img src="assets/images/Logo 1.png" alt="logo">
    </div>
    <div class="flex flex-col gap-10">
      <div>
        <h1 class="font-satoshi text-5xl leading-tight tracking-normal text-[#10181C] mb-3">Sign in to Syncify Pro</h1>
        <p class="text-base leading-tight tracking-normal" >Secure access to advanced tracking insights —
           without opening Shopify Admin
        </p>  
      </div>
      <a class="flex justify-center py-3 gap-4 border  border-[#00000014] shadow-[0_1px_3px_rgba(0,0,0,0.1)]  rounded-xl hover:bg-[#00000014] transition-colors" 
          href="https://apps.shopify.com/syncify-tracking-health">
        <img  class="w-5 h-5" src="assets/images/Shopify logo.png" alt="Shopify-logo">
        <span class="font-medium
          text-sm
          leading-tight 
          tracking-normal
          text-[#10181C]">Continue with Shopify Admin</span>
      </a>
      <div class="flex items-center gap-2">
        <span class="flex-1 border-t border-[#00000014]"></span>
        <span>OR</span>
        <span class="flex-1 border-t border-[#00000014]"></span>
      </div>
      <div>
        <div class="flex flex-col gap-1 mb-4">
          <label class="font-semibold text-xs leading-tight tracking-normal" for="email">E-mail address</label>
           <input 
           :class="['px-2 py-3 text-sm leading-tight tracking-normal border rounded-xl bg-[#F8F8FA] focus:outline-none', emailValidation !== null && !emailValidation ? 'border-[#F04F4F]' : 'border-[#00000014]']"
           type="text" 
           id="email" 
           placeholder="username@email.com" v-model="email">
        </div>
        <div class="flex py-1 pl-1 items-center gap-2 mb-4 rounded-xl bg-[#F04F4F24]" v-if="emailValidation !== null && !emailValidation">
          <img src="assets/images/Icon.png" alt="icon-error">
          <span class="text-xs leading-tight tracking-normal text-[#303030]">
            This email doesn’t have access to Syncify Pro.
          </span>
        </div>
        <div class="flex items-center flex-wrap gap-3 text-[#969799]">
          <button :class="['py-3 px-5  font-medium text-sm leading-tight tracking-normal rounded-xl transition-colors', isValidEmail ? 'bg-[#10181C] text-[#FFFFFF]' : 'bg-[#DEDFE0]']" :disabled="!isValidEmail" @click="sendEmail">Send me login link</button>
          <span class="text-xs leading-tight tracking-normal ">— We’ll send a secure one-time login link to your email.</span>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap gap-5 leading-tight tracking-normal sm:justify-around xl:justify-between">
      <div>
        <h2 class="mb-3 font-semibold text-sm">How it works</h2>
        <ol class="space-y-2 text-xs text-[#969799]">
          <li>1. Enter your email</li>
          <li>2. Get a secure login link</li>
          <li>3. Open Syncify Pro</li>
          <li>4. The link expires automatically after use</li>
        </ol>
      </div>
      <div>
        <h2 class="mb-3 font-semibold text-sm">Secure & trusted access</h2>
        <ul class="space-y-2 list-disc pl-4 text-xs text-[#969799]">
          <li >No passwords to remember</li>
          <li >One-time, time-limited login links</li>
          <li >Access tied to your Syncify account</li>
          <li >Shopify store connection remains required</li>
        </ul>
      </div>
    </div>
  </div>
 
  <div class="hidden overflow-hidden bg-gradient-to-br from-[#BCE67F] to-[#66BCF1] xl:block  relative">
  <img class="absolute left-20 -bottom-4 w-256 h-[224] rounded-3xl shadow-[0_16px_40px_0_#00000080]" src="assets/images/image-login.png" alt="screen-img">
  </div>
</div>

<script>
  const {createApp, ref, computed, } = Vue

  createApp({
    setup(){
      const email = ref('')
      const emailValidation = ref(null)
      const isValidEmail = computed(()=>{
        const sample = /^[a-zA-Z0-9](?:[a-zA-Z0-9._%+-]*[a-zA-Z0-9])?@[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?(?:\.[a-zA-Z]{2,})+$/
        return sample.test(email.value)
      })
      async function sendEmail(){
        try{
          const res = await fetch('http://localhost:3000/validate',{
            method:'POST',
            headers:{
              'Content-Type':'application/json'
            },
            body: JSON.stringify({email: email.value})
          })
          const data = await res.json();
          emailValidation.value = data.valid
          console.log(data);
        } catch(error){
          console.error('Error sending email:', error);
        }
      }
      return{email, isValidEmail, sendEmail, emailValidation}
    }
  }).mount("#app")
</script>
</body>
</html>